@import '../../style/variables/color';

$btn-size: 40px;

.container {
  margin-top: auto;
  padding: 13px 8px;
  display: flex;
  align-items: center;
}

.paperclip {
  transform: scaleX(-1);

  &__container {
    cursor: pointer;
    width: $btn-size;
    height: $btn-size;
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      background-color: gray;
    }
  }

  &__file {
    display: none;
  }
}

.send {
  width: $btn-size;
  height: $btn-size;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border-radius: 50%;
  cursor: pointer;
  margin: auto 4px;

  &:hover {
    box-shadow: 0 0 8px 0 $primary;
  }
}
