{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "max-len": ["warn", { "code": 80 }]
  }
}
