@import '../../style/variables/size';
@import '../../style/variables/color';

.main {
  height: 100vh;
  box-sizing: border-box;
  background-color: $background;

  &[data-dark="true"] {
    background-color: $bg-dark;
    color: white;
  }
}