@import '../../style/variables/color';
@import '../../style/variables/size';

.container {
  height: 100vh;
  animation: appear .2s ease-in-out;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  background-color: $background;

  &[data-dark="true"] {
    background-color: $bg-dark;
  }
}

.messages {
  padding: 8px 4px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2px;
  }
}

@keyframes appear {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: $mobile-width) {
  .container {
    min-width: 100%;
    left: -100%;
  }
}
