@import '../../style/variables/color';
@import '../../style/variables/size';

$form-side-padding: calc(1.5rem / 2 + 12px);

.auth {
  &__form {
    display: flex;
    flex-direction: column;
    padding: 8px $form-side-padding 8px $form-side-padding;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &[data-dark="true"] {
      color: white;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
  }

  &__hr {
    opacity: .25;
    height: 1px;
    color: black;
    width: 100%;
    background-color: black;
    margin-bottom: 16px;
  }

  &__message {
    font-weight: bolder;
    padding-top: 8px;
    padding-left: 2px;

    &_link {
      color: $primary;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__or {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &__err {
    color: $pinkish-red;
    display: block;
    margin-top: 5px;
  }

  &__success {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
  }
}

@media (min-width: $mobile-width) {
  .auth__form {
    max-width: 540px;
  }
}

@media (min-width: $tablet-width) {
  .auth__form {
    max-width: 720px;
  }
}

@media (min-width: $laptop-small-width) {
  .auth__form {
    margin-right: 12px;
    box-shadow: 0 0 8px 0 $shadow;
    border-radius: 8px;
    width: 400px;
    max-width: 960px;

    &[data-dark="true"] {
      background-color: $light-dark;
    }
  }
}

@media (min-width: $laptop-width) {
  .auth__form {
    width: 500px;
    margin-right: 28px;
    max-width: 1140px;
  }
}

@media (min-width: $laptop-large-width) {
  .auth__form {
    margin-right: 40px;
    max-width: 1320px;
  }
}
