@import '../../style/variables/color';

.auth {
  &__form {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    margin-right: 48px;
    width: 476px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 $shadow;
    border-radius: 8px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
  }

  &__hr {
    opacity: .25;
    height: 1px;
    color: black;
    width: 100%;
    background-color: black;
    margin-bottom: 16px;
  }

  &__message {
    font-weight: bolder;
    padding-top: 8px;
    padding-left: 2px;

    &_link {
      color: $primary;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__submit {
    cursor: pointer;
    background-color: $primary;
    width: 98px;
    height: 43px;
    color: $white;
    border: none;
    border-radius: 8px;
    font-size: large;
    padding: 8px 16px;
    transition: .15s ease-in-out;

    &:hover {
      filter: drop-shadow(0 0 8px $primary);
    }
  }

  &__or {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &__err {
    color: $pinkish-red;
    display: block;
    margin-top: 5px;
  }

  &__success {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
  }
}
