@import '../../style/variables/color';
@import '../../style/variables/size';

.modal {
  width: 80vw;
  background-color: white;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
  position: relative;

  &[data-dark="true"] {
    background-color: $bg-dark;
  }

  &__background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  &__close {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
  }
}

@media (min-width: $mobile-width) {
  .modal {
    width: 70vw;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 60vw;
  }
}

@media (min-width: $laptop-small-width) {
  .modal {
    width: 50vw;
  }
}

@media (min-width: $laptop-width) {
  .modal {
    width: 45vw;
  }
}
