@import '../../style/variables/color';
@import '../../style/variables/size';

.nav {
  height: $navbar-height;
  width: 100vw;
  z-index: 100;
  position: fixed;
  background-color: $white;
  box-shadow: 0 0 24px -6px $shadow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;

  &__app{
    display: flex;
    align-items: center;
    cursor: pointer;

    &_logo {
      width: 40px;
      height: 40px;
    }

    &_name {
      text-transform: uppercase;
      margin-left: 8px;
      color: $primary;
      font-weight: 700;
    }
  }

  &__btns {
    font-weight: 700;
    display: flex;
  }
}
