@import './style/variables/color';

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &[data-dark="true"] {
    background-color: $bg-dark;
  }
}

.app {
  &-dark {
    background-color: $bg-dark;
  }
}
