@import '../../style/variables/size';
@import '../../style/variables/color';

.details {
  padding-top: calc(#{$navbar-height} + 10px);
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  box-sizing: border-box;

  &-dark {
    background-color: $bg-dark;
    color: white;
  }

  &__h1 {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  &__submit {
    margin-top: 8px;
  }
}